

@media screen and (max-width:980px) {
    /* navbar */
.my-nav {
    background-color: rgb(101, 98, 98) !important;
    border-radius: 40px;
}

.nav-img {
    font-family: sk;
    margin-left: 10px;
}
.nav-tool>li>a{text-align: center !important;
    background-color: black !important;
    color: white !important ;
   font-family: sk !important;
   border-radius: 20px;
   margin: 5px 5px !important;
}
.search-nav{
   
    background-color: black;
    color: white !important;
    border: none !important;
    border-radius:20px ;
    color: black;
    margin-right: 5px;
    font-family: sk;
    padding-left: 10px;
}
.search-nav:focus{
     background-color:  rgb(177, 166, 166);
     border: none;
       font-family: 'Times New Roman', Times, serif;
       box-shadow: rgb(59, 57, 57);
}

.nav-btn {width: 50%;
    text-align: center;
    margin-right: 10px;
    background-color: black;
    color: white;
    border: none;
    font-family: sk;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.nav-btn:hover {
    background-color: rgb(177, 166, 166);
    color: black;
}

/* compelte nav */
    
}


@media screen and (max-width :800px) {
    /* card */

.card-main{
    margin-top: 50px;
}

.card{display: flex;
    flex-wrap: wrap;
   margin: 20px 0px;
    background-color: transparent;
    width: 100%;
    border: none;
    background-color:  transparent;
}
.card-img>img{
    width: 100%;
background-color:  black;
    border-radius: 100px 0px 0px 0px;
}
.card-text{width:100%;
    text-align: center;
    background-color: rgb(106, 104, 104);
    color: white;
    border-radius: 0px 0px 100px 0px;
}
.card-text:hover{
    background-color: black;
}
.card-text>p{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: sk;
    font-style: italic;
    letter-spacing: 0.2rem;
}
.card-text>span{
   text-align: center;
  font-size: 15px;
  text-align: center !important;
font-style: italic;
padding: 2px;
}.card-text>.card-link{
    margin: 10px;
}

.card-text>i{
    font-style: normal;
    text-align: left !important;
    background-color: rgb(222, 60, 60);
    padding: 2px;
    border-radius: 10px;
}
.card-text>i:hover{
    font-style: normal;
    text-align: left !important;
    background-color: rgb(222, 60, 60);
    padding: px;
    border-radius: 10px;
}

.card-text>.card-link>a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 2px 0px;
    border-radius: 40px;
  

}
.card-text>.card-link>a:hover{
    text-decoration: none;
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 40px;
  

}


.animate__animated .animate__bounce{
    display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0s !important; /* don't forget to set a duration! */
  --animate-duration: 0s !important;
  --animate-delay: 0.9s !important;
}
.animate__animated.animate__bounce:hover {
    --animate-duration: 0s;
    --animate-delay: 0.9s;
    
  }
  /* complete-card */
    
}


@media screen and (max-width:600px) {
   
    /* container-imghome1 */
.imghome-main{
    margin-top: 50px;
}
.imghome-img img{
    width: 100%;
    border-radius: 40px;

}
.imghome-text {
    /* margin-top: 100px; */
}

.imghome-text>h1 {
    font-family: sk;
    font-size: 30px !important;
    text-align: center;
}

.imghome-text>h1>span {
    color: rgb(76, 71, 71);
}

.imghome-text>p {
    font-size: 15px !important;
    color: black;
    font-style: italic;
    text-align: center;
}

.imghome-text>button {
    background-color: black;
    color: white;
    font-family: sk;
    padding: 10px;
    border-radius: 20px;
    width: 100% !important;

}

.imghome-text>button:hover {
    background-color: transparent;
    color: black;
}
/* complete image-home */





/* headings*/
.headings-main{
    margin-top: 50px;
}
.headings-col>.headings-text{
    text-align: center;

}

.headings-col>.headings-text>.headings-textimg >img{
    border: 1px solid black;
    background: rgb(22,23,24);
    background: radial-gradient(circle, rgba(22,23,24,1) 4%, rgba(156,150,151,1) 93%);
   border-radius: 35px;
  
}
.headings-col>.headings-text>.headings-textimg >p{

    font-family: sk;
    font-size: 20px;
}
.headings-col>.headings-text>h2{
    text-transform: capitalize;
    font-family: sk;
    color: black;
    font-size: 40px !important;
    text-shadow: 0px -4px 12px rgba(0,0,0,0.6);
}
.headings-col>.headings-text>p{
    font-size: 12px !important;
    font-style: italic;
   
}
/* <!-- complete-headings --> */




/* feature */

.features-main{
    border: 1px solid black;
    background-color: rgb(72, 69, 69);
    margin-top: 50px;
    border-radius: 100px 0px 0px 0px;
    padding-top: 5px;
    background-image: url(img/body_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    backg
}
.features-main-col{
    margin-top: 50px;
}
.icon-p-col-one>.icon>span{
    font-size: 25px !important;
    border: 1px solid white;
    border-radius: 35px;
    padding: 10px;
    color: white;
}
.icon-p-col-one>.icon>span:hover{
    font-size: 30px;
    border: 1px solid gray;
    border-radius: 35px;
    padding: 10px;
    color: white;
}
.icon-p-col-two>p{
    line-height: 2rem;
    font-size: 15px !important;
    /* font-family: sk; */
    color: white;
}
.features-main-col-two>.features-main-col-two-img{
    text-align: center;
    
    
}
.features-main-col-two>.features-main-col-two-img>img{
    width: 100% !important;
    
}
/* complete-feature */



  /* rain-img */
  .rain-img-main{
    background-image: url(img/rain.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
 }
 .rain-img-text{text-align: center !important;
    padding: 200px 0px;
    color: white;
 }
 .rain-img-text>h1{
    font-family: sk;
    font-size: 60px !important;
 }
 .rain-img-text>p{
    color: darkgray;
    font-size: 35px !important;
    font-style: italic;
    font-weight: bold;
 }
 .rain-img-text>span{
    font-size: 20px !important;
    padding: 5px;
    border-radius: 20px;
background-color: rgb(212, 147, 26);  
 }
 .rain-img-text>span>s{
    background-color: black;
    border-radius: 20px;
    padding: 5px 10px;
  
    
 }
 .rain-img-text>div{margin: 10px 0px;
    width: 100% !important;
    font-size: 15px !important;
    font-style: italic;
    color: white !important;
 }

 .rain-img-text>.anker{
    margin-top: 20px;
 }
 .rain-img-text>.anker>a{
    text-decoration: none;
    background-color: rgb(87, 87, 87);
    color: white;
    font-style: normal;
    padding: 10px;
    border-radius: 20px;
 }

 
  /*complete- rain-img */



   /* <!-- about-home --> */
   .about-home-main{
    margin-top: 50px;
    background: rgb(22,23,24);
    background: radial-gradient(circle, rgba(22,23,24,1) 4%, rgba(156,150,151,1) 93%);
    color: white;
  }
  .about-home-text{
    margin-top: 50px;
  }
  .about-home-text>h1{
    font-family: sk;
    text-align: center;
    font-size: 40px !important;
    color: rgb(208, 198, 198);
  }
  .about-home-text>h5{
    font-size: 15px !important;
    text-align: center;
    /* font-family: sk; */
    font-style: italic;
    color: pink;
  }
  .about-home-text>p{
    font-style: italic;
    font-size: 15px !important;
    text-align: center;
    font-weight: 600;
    color:black ;
  }

/* complete- about-home */



 /* footer */
 .footer-main{margin-top: 50px;
    background-color: black;
    border-radius: 20px ;
    background: radial-gradient(circle, rgba(22,23,24,1) 4%, rgba(156,150,151,1) 93%);
  
  }
  .text-footer{margin-top: 20px;
    text-align: center;
  }
  
  .text-footer>.footer-logo>img{
    width: 10%;
    background-color: gray;
    border-radius: 35px;
    padding: 5px;

  }
  .contact-img>img{
    width: 100%;
  }
  .text-footer>p{
    font-size: 15px !important;
    color: white;
    font-weight: 300;

    font-weight: bold;
  }
  .display>ul>li{text-align: center;
    color: white;
    font-size: 15px !important;
    margin: 5px 0px;
    list-style: none;
  }
  .display>ul>li>span:hover{
    color: gray;
    font-size: 30px;
  }
  .Go{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: 20px;
    text-align: center !important;
    font-weight: bold;
  }
  .Go:hover{
    color: gray;
  }
  .social-icon>h3{
    font-family: sk;
    color: black;
  }
  .social-icon>a>i{
    color: white;
    font-size:20px !important;
    padding: 10px;
    background-color: black;
    border-radius: 35px;
  }
  .social-icon>a>i:hover{
    color: gray;
    font-size: 50px;

  }




}